*.deb
*/debian/.debhelper/
*/debian/debhelper-build-stamp
*/debian/files
dwm/*.o
dwm/dwm
dwm/config.h
dwm/debian/dwm.postinst.debhelper
dwm/debian/dwm.postrm.debhelper
dwm/debian/dwm.prerm.debhelper
dwm/debian/dwm.substvars
dwm/debian/dwm/
stterm/config.h
stterm/debian/stterm
stterm/*.o
stterm/debian/stterm.debhelper.log
stterm/debian/stterm.substvars
stterm/st
